/*  banner */
.bannernav,.guonei{
	 width: 100%; 
	 position: relative; 
	 overflow: hidden;
	 height: 17rem; 
}
.bannernav .navbox,.guonei .guoneibox {
	 position: absolute;
	 height: 100%; 
}
.guonei .guoneibox ul{
	height: 100%;
}
.bannernav .navbox li,.guonei .guoneibox ul li { 
	width: 100%; 
	float:left;
	position:relative;
	height: 100%;
}
.bannernav .navbox li img,.guonei .guoneibox ul li img{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
} 
.guonei .guoneibox ul li .txt{
	width:100%;
	padding:0.5rem 0.5rem 1.5rem;
	background-color:rgba(0,0,0,.5);
	position:absolute;
	left:0;
	bottom:0;
}
.bannernav .navbox li a{
	width: 100%;
	height: 100%;
}
.guonei .guoneibox ul li .txt a{color:#fff;}
.search{
	position: absolute;
	left: 0; 
	bottom: 0; 
	z-index: 100;
	width:100%;
	height: 3rem; 
	background: rgba(0,0,0,.4);
}
.btn-search{
	position: relative;
	width: 100%;
	height: 100%;
}
.btn-search .keyIn{
	position: absolute;
	left: 1rem; 
	top: 0.5rem;
	width:80%; 
	height: 2rem;
	 background:#eee;
	 color: #999;
	 border-radius: 25px;
	padding-left:2.6rem;
	 font-size: 0.6rem;
}
.btn-search .ico-search-gray{
	position: absolute;
	left: 1.4rem;
	top:0.5rem;
	z-index: 3;
}
#search{
	position: absolute;
	right: 1.12rem;
	color: #fff;
	top: 0.85rem;
	font-size: 1rem;
}
.bannernav .icos,.guonei .icon,.topic .icon,.accordion .icon{
	 position: absolute; 
	 width: 100%; 
	 height: 1rem; 
	 bottom: 3.5rem; 
	 text-align: center; 
	 line-height: 0.8rem;
	 z-index: 100;
}
.guonei{margin:0 0 0.5rem 0;}
.guonei .icon{text-align: right;}
.bannernav .icos span,.guonei .icon a,.topic .icon a,.accordion .icon span{ 
	margin: 0 0.2rem; 
	width: 0.6rem; 
	height: 0.6rem; 
	border-radius: 1rem;
	display:inline-block;
	vertical-align: middle;
	background-color:#c8c8c8;
	opacity: 0.8;
}
.bannernav .icos span.swiper-pagination-bullet-active,.guonei .icon a.this,.topic .icon a.this,.accordion .icon span.swiper-pagination-bullet-active { 
	background-color: #f8b551;
	opacity: 1;
}
.banner img,.guonei img { 
	width: 100%; 
	height: 7rem;
	border-radius:0; 
}
.yikatong{
	padding:1rem 0.5rem;
	text-align:center;
	height:auto!important;
}
.yikatong img{max-width:100%;width:50%;}

.banner.detailbanner,.banner.detailbanner img{height:12rem;}

.searchM input::-webkit-input-placeholder { 
    color:    #fff;
}
.searchM input:-moz-placeholder { 
    color:    #fff;
}
.searchM input::-moz-placeholder { 
    color:    #fff;
}
.searchM input:-ms-input-placeholder { 
    color:    #fff;
}

.searchM{
	background-color:#fff;
	padding: 0.5rem;
	border-bottom: 2px solid #36bae8;
}
.logo_img{width:50%;}
.logo_img img{
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
.classify{
	width:30%;
	height:2rem;
	margin-right:2%;
	line-height:2rem;
	position:relative;
	font-size:0.85rem;
}
.classify ul{
	position: absolute;
	left: 0;
	top: 2rem;
	background: #fff;
	width: 100%;
	z-index: 100;
	padding-left: 0.3rem;
	display: none;
}
.tit-select{line-height:2rem;padding-left: 0.3rem;}
.classify i{
	width:1.5rem ;
	height:1.07rem;
	background-size:contain ;
	background-repeat: no-repeat;
	background-position: top;
	margin-right: 0.1rem;
}
.classify .ico-mj{background-image:url(../images/ico1.png);}
.classify .ico-oz{background-image:url(../images/ico2.png);}
.classify .ico-yz{background-image:url(../images/ico3.png);}
.searchM .classify select{
	width:130%;
	background-color:#bf2b2b;
	color:#fff;
	font-size: 0.9rem;
	height: 2.057rem;
	border: 0;
	outline: none;
}
.searchM .classify select option{padding:0;}
.searchM .classify .ico-down{

	height: 0.64rem;
	width: 0.65rem;
	background: url(../images/select.png) no-repeat;
	background-size: contain;
}
.searchM .search{
	height:2.057rem;
	width: 55%;
	background-color: #eee;
	border-radius: 10rem;
	padding:0.2rem 1rem 0.2rem 2.6rem;
	position:relative;
}
.searchM .search i{
	position:absolute;
	left:0.5rem;
	top:0;
}
.searchM .search input[type="search"].keyIn {
	vertical-align: middle;
	font-size: 0.9rem;
	height: 1.657rem;
	line-height: 1.657rem;
	color: #000;
	-webkit-appearance: none;
	border-radius: 0;
	background: none;
	display: block;
	width: 100%;
}
.searchM .search input::-webkit-input-placeholder { 
    color:#999;
    font-size: 0.9rem;
}
.searchM .search input:-moz-placeholder { 
    color:#999;
    font-size: 0.9rem;
}
.searchM .search input:-ms-input-placeholder { 
    color:#999;
    font-size: 0.9rem;
}
.searchM .searchbtn{width:15%;}
.searchM .searchbtn a{display: block;}

.nav{background-color:#fff;}
.nav ul{
	margin-left: -1px;
}
.nav li{
	width:33.3%;
	float: left;
	border-left:1px solid #e1d1dc ;
	font-size:0.85rem;
	border-bottom:1px solid #e1d1dc ;
	height:3.5rem;
}
.nav a{
	padding:0.3rem 0;
	display: block;
	vertical-align: middle;
	font-size:1rem;
	text-align: center;
	overflow: hidden;
}
.nav a p{
	float: left;
	margin: auto 0;
	margin-left: 0.8rem;
	margin-top: 0.2rem;
}
.nav a span{
	color: #333;
	float: left;
	text-align: center;
	height: 100%;
	line-height: 3.2rem;
	margin-left: 0.3rem;
	width: 50%;
	font-size: 0.8rem;
}
.nav a p img{
	width:2.2rem;
	height:2.2rem;
	display: block;
	margin: 0 auto;
	margin-bottom: 0.2rem;
}

.adv{
	background-color:#bf2b2b;
	padding:0.8rem 1rem;
	margin:0.5rem 0;
}
.adv img{width:100%;}
.allline,.move-box{width: 96%;margin: 0 2%;}
.allline-tab{padding:0.8rem 0;}
.allline-tab li{
	float:left;
	text-align:center;
	position:relative;
	height: 1.875rem;
	line-height: 1.875rem;
	background: #b5b5b5;
	border-radius: 25px;
	margin-right: 0.4rem;
	border: 1px solid #b5b5b5;
	font-size: 0.9rem;
	width: 18%;
}
.allline-tab li a{color: #fff;}
.allline-tab .active{
	border: 1px solid #2bb9eb;
	background: #fff;
}
.allline-tab .active a{
	
	color: #2bb9eb;
}
.xsth{padding-top: 1rem;}
.xsth li{
	float:left;
	text-align:center;
	position:relative;
	width:10.5rem!important;
	margin-right: 0.65rem;
	border-bottom: 0.18rem solid #c7c7c7;
	background: #eee;
}
.swiper-slide a img {width: 100%;height: 100%;}
.swiper-slide div.tip {
	position: absolute;
	top: -5px;left: 10px;
	width:2.85rem;
	height:3rem;
	background:url(../images/tip.png) no-repeat;
	background-size: contain;
	font-size:0.75rem;
	color: #fff;
	line-height: 100%;
	font-weight: bold;
	z-index: 1;
}
.effect div.tip span {
	display: block; 
	font-size: 0.9rem;
	margin: 0.5rem 0 0.25rem 0;
	font-weight: normal;
}
.effect div.con_area {padding: 0.3rem;}
.effect div.con_area p {
	word-wrap: break-word;
	width: 100%;
	height: 1.5rem;
	margin-bottom: 4px;
	vertical-align: middle;
	font-size: 0.8rem;
	text-align: left;
}
.effect div.con_area p a {
	color: #37414d;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient: vertical;
}
.effect div.action {
	font-size: 0.75rem;
	overflow: hidden;
}
.effect div.action .action_left {
	text-align: left;
	display: inline-block;
	color: #999;
}
.effect div.action .action_left span i {
	font-size: 0.7rem;
	font-weight: normal;
	margin: 0 2px;
}
.effect div.action .action_left span {
	font-size: 1rem;
	color: #df5a49;
	font-weight: bold;
	margin-right:0.2rem;
}
.effect div.action .action_left span.small {
	font-size: 0.7rem;
	color: #999;
	text-decoration: line-through;
	margin-left:0.6rem;
}
.topic{
	width: 100%; 
	background: #eee;
	height: 12rem;
	padding: 0 2%;
	position: relative;
	padding-top: 1.2rem;
	overflow: hidden;
}
.topic-list{
	width: 100%;
	height: 88%;
	overflow: hidden;
}
.topic-list ul{
	width: 200%;
	height: 100%;
	position: relative;
}
.topic-list ul li{
	float: left;
	height: 100%;
	width: 50%;
}
.effect-marley{
	width:32%;
	height:100%;
	float: left;
	margin-right: 0.4rem;
	box-sizing: border-box;
	position: relative;
}
.topic-list .mr0{margin-right: 0;}
.effect-marley img{
	width: 100%; 
	height: 100%;
}
.effect-marley .con_area{
	position: absolute;
	left: 0;
	top: 35%;
	color: #fff; 
	text-align: center;
	width: 100%;
}
.effect-marley .con_area h2{font-size: 0.95rem;}
.effect-marley .con_area .txt{font-size: 0.65rem;text-align: center;}
.topic .topic-list .icon{bottom:0;}
.accordion{
	height:10rem;
	position: relative;
	overflow: hidden;
	margin-bottom: 1.5rem;
}
.accordion_list{
	height: 100%;
	position: absolute;
}
.accordion_list li{
	position: relative;
	float: left;
	height: 100%;
}
.accordion_list li a,.accordion_list li img{
	width: 100%;
	height: 100%;
}
.accordion_list li h4{
	width: 100%;
	position: absolute;
	left: 0;
	top: 5rem;
	font-size: 1.8rem;
	color:#fff;
	text-align: center;
	font-weight: normal;
}
.accordion .icon{
	bottom: 1rem;
}
.team-txt{
	width: 100%;
	text-align: center;
	font-size: 1rem;
	color: #556a7d;
}
.team-txt em{
	color: #f55415;
	margin-right: 0.4rem;
	font-weight: bold;
}
.team-box{
	position: relative;
	height: 8rem;
	overflow: hidden;
}
.team-list{
	width: 90%;
	height: 100%;
	margin: 0 5%;
	overflow: hidden;
	position: relative;
}
.team-info{
	height: 100%;
	position: absolute;
}
.team-info li{
	height: 100%;
	float: left;
	margin-right: 2.2rem;
}
.team-info li div{
	width: 23%;
	margin:0 0.2rem;
	float: left;
	color: #59534c;
	text-align: center;
}
.team-info li div a img{
	width: 80%;
	height: 100%;
}
.team-info li div .img-ico{
	width: 100%;
	height: 4rem;
	display: inline-block;
	border-radius: 50%;
}
.team-info li div a img{border-radius: 50%;}
.team-info li div .name{
	font-weight: bold;
	font-size: 0.85rem;
}
.team-info li div .desc{
	font-size: 0.7rem;
	margin-left: -0.5rem;
}
.team-info li div .desc a{
	transform: scale(0.8);
	display: inline-block;
}
.swiper-button-prev,.swiper-button-next{
	position: absolute;
	width: 1.2rem;
	height: 2.7rem;
	background: url(../images/icos.png) no-repeat;
	top: 3.45rem;
}
.swiper-button-prev{
	left: 0.2rem;
	background-position: 0 -409px;
}
.swiper-button-next{
	right: 0.2rem;
	background-position:-10px -332px;
}

#fixright{
	position: fixed;
	bottom:5rem;
	right: 1rem;
	width: 3.5rem;
	z-index: 999;
}
#fixright span{
	width: 3.2rem;
	height: 3.2rem;
	background: rgba(0,0,0,.6);
	color: #fff;
	display: inline-block;
	border-radius:0.4rem;
	margin-bottom: 0.4rem;
	text-align: center;
	padding-top: 0.3rem;
	font-size:0.85rem;
}
#fixright span i{
	width:1.4rem;
	height: 1.4rem;
	background-size: 100% 100%;
}
#fixright span .language-ico{
	background-image: url(../images/yy.png);
}
#fixright span .curren-ico{
	background-image: url(../images/bz.png);
}
.language-box,.curren-box{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1112;
	width: 96%;
	margin: 5% 2%;
	display: none;
}
.language-box li,.curren-box li{
	background: #fff;
	line-height:2.5rem;
	height: 2.5rem;
	text-align: center;
	
}
.language-box li.close-box,.curren-box li.close-box{
	border-radius:5px ;
	margin-top: 1rem;
}
.borderTop{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.borderBot{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.borderbottom{
	border-bottom: 1px solid #e1e2e3;
}
.curren-box label{
	width: 3rem;
	display: inline-block;
}
